@{
    ViewData["Title"] = "Тест";
}

<div class="text-center">
    <h1>Добро пожаловать</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class = "d-flex flex-column align-items-center">
        <p class>Здравствуйте @User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-block mt-3">Вход</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-block mt-3">Регистрация</a>
}